body {
  font-family: "Roboto";
  margin: 0;
}

.clear-fix {
  clear: both;
}


#container {
  width: 100%;
  height: auto;
}

/* HEADER SECTION START*/

#logo {

}

#logo img {
  height: 80px;
  width: auto;
  float: left;
}

#logo h2 {
  float: left;
  padding: 10px;
}


#main-menu {
  float: right;
}

#logo {
  float: left;
}

.menu-list {
  text-decoration: none;
  list-style: none;
}

.menu-list li {
    display: inline;
    padding: 10px;


}

/* HEADER SECTION END */

/* MAIN SECTION START */

#main-screen {
  
  min-height: 100%;
  min-width: 1280px;

  position: relative;
  height: 500px;
  width: auto;
  
  top: -50px;
  left: 0;
  
  background: url('http://jasonnatividad.com/images/codingo-screen.jpeg') no-repeat center center;
  
 background-size: cover;
  
/*   background: url('../images/bg-portfolio.jpg') no-repeat center center; */
  
  z-index: -10;
}


#name {
  font-size: 100px;
}
.web-dev {
  color: white;
  position: relative;
  top: 25%;
  font-size: 50px;
  text-align: center;
  
}

/*  MAIN SECTION END*/

/* ABOUT SECTION START */

#about {
  /*position: relative;*/
  /*visibility: hidden;*/
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
}

/* ABOUT SECTION END */
