
body, html {

   width: 1280px;
   margin: 0;

}

body {
  font-family: "Roboto";
}

.clear-fix {
  clear: both;
}


/* HEADER SECTION START*/

#logo {

}

#logo img {
  height: 80px;
  width: auto;
  float: left;
}

#logo h2 {
  float: left;
  padding: 10px;
}


#main-menu {
  float: right;
}

#logo {
  float: left;
}

.menu-list {
  text-decoration: none;
  list-style: none;
}

.menu-list li {
    display: inline;
    padding: 10px;


}

/* HEADER SECTION END */

/* MAIN SCREEN START */

#main-screen {

  margin-top: 0.9em;
  /*min-height: 100%;*/
  width: 100%;
 

/*  position: absolute;*/
  height: 400px;
/*  line-height: 500px;*/

  
/*  top: 100px;
  left: 0;*/
  
  background: url('http://jasonnatividad.com/images/codingo-screen.jpeg') no-repeat center center;
  
 background-size: cover;

  
/*   background: url('../images/bg-portfolio.jpg') no-repeat center center; */
  
  z-index: -10;


}

/*    #main-screen h1, h4 {
      vertical-align: middle;
    }*/




#name {
  font-size: 5em;

}
#web-dev {
  color: white;
  
  
  text-align: center;
     width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;


  
}

  #web-dev h2 {
    font-size: 3.5em;
  }

/*  ABOUT ME SECTION */

#about-me {

  background: #1F2C37;
  width: 100%;
  height: 500px;
  color: white;


}

    #about-me h1 {
        padding: 1em;
        margin: 0;
        margin-right: 5em;
        float: right;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 3em;
        letter-spacing: 8px;
       
    }

#who-am-i {
  width: 40%;
  float: right;
  margin-right: 3em;
  line-height: 1.8em;
  margin-top: -10em;

}

#photo {
  width: 30%;
  background: white;
  height: 300px;
  padding-top: 1em;
  float: left;
  position: relative;
  top: 25%;
  left: 10%;


}